<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/styles/signInPage.css">
    <link type="text/css" rel="stylesheet" href="/styles/commonStyles.css">
</head>
<body>
    <!--<div th:insert="fragmentsTemplates/menuSite :: menu"></div>-->
    <div th:insert="fragmentsTemplates/menuSite :: menu(${siteUserID})"></div>
    <main>
        <form method="post">
            <h1>Вход в личный кабинет</h1>
            <div>
                <p><input name="login" type="text" value="Логин" onBlur="if(this.value == '') this.value = 'Логин'" onFocus="if(this.value == 'Логин') this.value = ''" required><label name="loginHint"></label></p>
            </div>
            <div >
                <p><input name="password" type="password"  value="Пароль" onBlur="if(this.value == '') this.value = 'Пароль'" onFocus="if(this.value == 'Пароль') this.value = ''" required><label name="passwordHint"></label></p>
            </div>
            <p>Нет аккаунта? <a href="/regPage">Регистрация</a></p>
            <div>
                <label>
                    <input type="checkbox" value="remember-me"> Запомнить меня
                </label>
            </div>
            <button id="signInButton" type="submit">ВОЙТИ</button>
        </form>
    </main>
</body>
</html>